/* Scrolling */
#rssfeed {
    height: 100vh;  /* Adjust to your desired viewport height */
    overflow: auto;
}

/* Base styling for light mode */
body {
    background-color: #FFFFFF; /* White background */
    color: #786854; /* Brownish text color */
    font-family: 'Foundry Monoline OT2', sans-serif;
    font-size: 16px;
}

/* Adjust the color of headings */
h1, h2, h3, h4, h5, h6 {
    color: #009EE0; /* Bright blue color for headings */
}

/* Styling for header (title and logo) */
.header {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-right: 20px; /* Adjust as needed */
    margin-top: 10px;
    /* Add any additional styling for the logo */
}

/* Styling for individual RSS items */
.rss-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    position: relative;
}

/* Apply text styles to all children in .rss-item except h1 */
.rss-item *:not(h1) {
    text-align: justify;           /* Justify the text for block appearance */
    hyphens: auto;                 /* Enable automatic hyphenation */
    -webkit-hyphens: auto;         /* For Safari */
    -ms-hyphens: auto;             /* For Internet Explorer */
    -moz-hyphens: auto;            /* For Firefox */
    word-wrap: break-word;         /* Allow long words to be broken and wrapped to the next line */
}

/* Styling for QR code containers */
.qr-code-container {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 128px;
    height: 128px;
}

/* Style links for better visibility */
a {
    color: #009EE0; /* Bright blue color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}